[submodule "eurorack-rebeltech-CLK"]
	path = eurorack-rebeltech-CLK
	url = git@git-rhino:rhinocerose/eurorack-rebeltech-CLK
	branch = main
[submodule "eurorack-rebeltech-ClockDelay"]
	path = eurorack-rebeltech-ClockDelay
	url = git@git-rhino:rhinocerose/eurorack-rebeltech-ClockDelay
	branch = main
[submodule "eurorack-rebeltech-ClockMultiplier"]
	path = eurorack-rebeltech-ClockMultiplier
	url = git@git-rhino:rhinocerose/eurorack-rebeltech-ClockMultiplier
	branch = main
[submodule "eurorack-rebeltech-EuclideanSequencer"]
	path = eurorack-rebeltech-EuclideanSequencer
	url = git@git-rhino:rhinocerose/eurorack-rebeltech-EuclideanSequencer
	branch = main
[submodule "eurorack-rebeltech-Mix"]
	path = eurorack-rebeltech-Mix
	url = git@git-rhino:rhinocerose/eurorack-rebeltech-Mix
	branch = main
[submodule "eurorack-rebeltech-OpenSoundModule"]
	path = eurorack-rebeltech-OpenSoundModule
	url = git@git-rhino:rhinocerose/eurorack-rebeltech-OpenSoundModule
	branch = main
[submodule "eurorack-rebeltech-Tonic"]
	path = eurorack-rebeltech-Tonic
	url = git@git-rhino:rhinocerose/eurorack-rebeltech-Tonic
	branch = main
